<form action="/records/{{record._id}}/edit" method="POST">
  <label for="name">name : </label>
  <input type="text" placeholder="name" name="name" id="name" value="{{record.name}}">
  <label for="date">date : </label>
  <input type="date" name="date" id="date"value="{{record.date}}">
  <label for="category">category : </label>
  <select name="category" id="category" value="{{record.categoryName}}">
    {{#each categorys}}
    <option >{{this.name}}</option>
    {{/each}}
  </select>
  <label for="amount">amount : </label>
  <input type="number"  name="amount" id="amount" min="0" value="{{record.amount}}">
  <button type="submit">edit</button>
</form>