<div class="container-fluid mt-3">
    <div class="container mx-auto py-3" style="width:550px;">
        <div class="dropdown-center d-flex justify-content-center mb-3" >
            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="width:250px;">
                類別
            </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="/records/category/家居物業">家居物業</a></li>
                <li><a class="dropdown-item" href="/records/category/交通出行">交通出行</a></li>
                <li><a class="dropdown-item" href="/records/category/休閒娛樂">休閒娛樂</a></li>
                <li><a class="dropdown-item" href="/records/category/餐飲食品">餐飲食品</a></li>
                <li><a class="dropdown-item" href="/records/category/其他">其他</a></li>
            </ul>
        </div>
        總金額 :
        <h1 class="mb-2 me-4 text-end" id="totalamount">{{totalamount}}</h1>
        {{#each records}}
        <div class=" list-group-item-warning d-flex align-items-center border-bottom border-dark border-2 " id="row">
            <div style="width:60px;"><i class="{{this.categoryFontawesome}} fa-2xl ms-2" id="left"></i></div>
            <div class=" d-flex  justify-content-between align-items-center ms-2" style="width:345px;" id="middle">
                <div class="ms-2" id="middele-left">
                <h4 class="mt-1 mb-0">{{this.name}}</h4><small >{{this.date}}</small>
                </div>
            <h4 class="mb-0 me-5">{{this.amount}}</h4>
            </div>
            <div id="right">
                <a class="btn btn btn-secondary btn-sm" href="/records/{{this._id}}/edit" style="display:inline;">修改</a>
                <a class="btn btn btn-secondary btn-sm" href="/records/{{this._id}}/delete"style="display:inline;">刪除</a>
            </div>
        </div>
        {{/each}}
        <div class="d-flex justify-content-center mt-3"><a class="btn btn btn-secondary " href="/records/new">Create</a></div>
        
    </div>
    </div>