<a href="/records/new">Create</a>
<ul>
    {{#each records}}
    <li>
        {{this.name}} | {{this.date}} | {{this.amount}} | 
         <i class = "{{this.categoryFontawesome}}"></i> | <a href="/records/{{this._id}}">detail</a> 
    </li>
    {{/each}}
</ul>